.InputContainer{
    border: 1px solid #fff;
    border-radius: 20px;
    height: 62px;
    width: 80%;
    margin: 20px;
    
}

.InputField{
    background: transparent;
    border: 0;
    width: 90%;
    height: 62px;
    padding: 0 20px;
    font-size: 20px;
}